<h1>New Student</h1>
<%= form_with(model: @student, local: true) do |form| %>
  <%= form.label :uin %>
  <%= form.text_field :uin %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :section %>
  <%= form.text_field :section %>

  <%= form.submit "Create Student" %>
<% end %>
