<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="form-info">
    </div>
    <%= link_to "Back to Forms", user_path(current_user), class: "btn btn-secondary logout-btn" %>
  </header>

  <main class="dashboard-content">
    <section class="form-details-section">
      <div class="section-header">
        <h2 class="forms-title">New Form</h2>
      </div>

      <%= form_with(model: @form, local: true, class: "form-content") do |form| %>
        <% if @form.errors.any? %>
          <div class="error-container">
            <div class="error-icon">⚠️</div>
            <div class="error-message">
              <h4><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h4>
              <ul>
                <% @form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", rows: 4 %>
        </div>
        <%= form.submit "Create Form", class: "btn btn-primary" %>
      <% end %>
    </section>
  </main>
</div>