<!DOCTYPE html>
<html>
  <head>
    <title>Your App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM loaded");
        console.log("Flash notice in JS:", "<%= flash[:notice] %>");
      });
    </script>
  </body>
</html>
