<!DOCTYPE html>
<html>
  <head>
    <title>Your App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-block">
      <div class="header-content">
        <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'CMYK-TAM-MaroonBox.svg')) %>
        <span class="header-text">Teams</span>
      </div>
    </div>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert <%= type == 'alert' ? 'alert-danger' : 'alert-success' %> fade show" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM loaded");
        <% flash.each do |type, message| %>
          console.log("Flash <%= type %> in JS:", "<%= j message %>");
        <% end %>

        // Function to remove flash messages
        function removeFlashMessages() {
          var flashMessages = document.getElementById('flash-messages');
          if (flashMessages) {
            flashMessages.innerHTML = '';
          }
        }

        // Set timeout to remove flash messages after 3 seconds
        setTimeout(removeFlashMessages, 3000);

        // Update timestamp display
        document.querySelectorAll('.deadline').forEach(function(element) {
          const timestamp = element.getAttribute('data-timestamp');
          if (timestamp) {
            const date = new Date(timestamp);
            const options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
              timeZoneName: 'short'
            };
            element.textContent = date.toLocaleString('en-US', options);
          }
        });
      });
    </script>
  </body>
</html>
